<% if @task.errors.any? %>
    <div class="errorbox alert alert-danger" role="alert">

            <!-- pluralize是個helper，用來顯示一個字串，前面的參數是數字，後面是要顯示的單數名詞，他會自動轉換成複數  -->
            <div>
                <h3>You have <%= pluralize(@task.errors.count, "error") %></h3>
            </div>
            <ul class="list-group">
                <% @task.errors.full_messages.each do |msg|%>
                    <li class="list-group-item">
                        <%= msg%>
                    </li>
                <% end %>
            </ul>

    </div>
<% end %>
    <div class="form-horizontal">
        <%= form_for @task do |f|%>
    <div class="form-group">
        <%= f.label :name, "Name", class: "col-sm-2 control-label"%>
        <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control"%>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :date, "Deadline", class: "col-sm-2 control-label"%>
        <div class="col-sm-10">
            <%= f.text_field :date, class: "form-control"%>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :note, "Note", class: "col-sm-2 control-label"%>
        <div class="col-sm-10">
            <%= f.text_area :note, class: "form-control"%>
        </div>
    </div>
        <%= f.submit button, class: "btn btn-info btn-lg"%>
        <% end %>
        <%= link_to "Back to index", tasks_path%>
    </div>
