<div class="showbox">
    <p class="title"><%=@task.name%></p>
    <p class="date-title">Due Date</p>
    <div class="date"><%= @task.date%></div>
    <p class="note-title">Note</p>
    <div class="note"><%= @task.note%></div>

    <div class="showbox_btn">
        <%= todo_edit_button(@task) %>
        <%= link_to "Back to index", tasks_path, class: "show-a"%>
    </div>
</div>
